.headerWrapper {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid white; */
}

.headerHeading {
  margin: 0;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}
